*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    background-image: url(img/fondo0.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: cornsilk;
    position: absolute;
    opacity: 0.5;
}
.content h1, font, h1, h2, h3, h4, p, iframe, table, td, tr, img{
    position: relative;
}
.content h1{
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
}
.content h2{
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
}
.content iframe{
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
    display: flex;
}
.content font{
    font-size: 28px;
    font-family: sans-serif;
    text-align: center;
    display: flex;
}

 #inferior{
color: #FFF;
background: #3333ff;
position:absolute; /*El div será ubicado con relación a la pantalla*/
left:0px; /*A la derecha deje un espacio de 0px*/
right:0px; /*A la izquierda deje un espacio de 0px*/
bottom:0px; /*Abajo deje un espacio de 0px*/
height:195px; /*alto del div*/
z-index:0;
 }
        }
a:link, a:any-link {
    Color: #FFF;
}
a:link, a:visited {
    color: white;
}