body {
    background-image: url("img/fondo3.png");
    background-color: #cccccc;
   }
   table,td {
	border: 2px solid black;
}
table {
    font-family: arial, sans-serif;
    border: 2px solid black;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #1b1919;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: blue;
  }
  img {
    border-radius: 8px;
  }
  #menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}
.BarraInferior{position:fixed;left:0;bottom:0;
}

#inferior{
color: #FFF;
background: #3333ff;
position:absolute; /*El div será ubicado con relación a la pantalla*/
left:0px; /*A la derecha deje un espacio de 0px*/
right:0px; /*A la izquierda deje un espacio de 0px*/
bottom:0px; /*Abajo deje un espacio de 0px*/
height:50px; /*alto del div*/
z-index:0;
 }
.<a {
    Color: #FFF;
}
a:link, a:visited {
    color: white;